.services {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--col-pbh-green);
  color: var(--col-pbh-dark);
  padding-top: var(--h-top);

  h1 {
    font-size: 105px;
    font-family: var(--ff-title);
    font-style: oblique;
    font-weight: var(--fw-800);
    color: var(--col-pbh-dark);
    text-transform: uppercase;
    letter-spacing: -0.025em;
    margin-bottom: 1rem;
  }
  .service_intro {
    margin: 0;
    font-size: 1.2rem;
  }

  .accordion {
    --bs-accordion-color: var(--col-pbh-dark);
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #212529;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 1.25rem;
    // --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-width='2' d='M2 11l6-6 6 6'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 00 transparent;
    --bs-accordion-btn-icon-transform: rotate(-90deg);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--col-pbh-dark);
    --bs-accordion-active-bg: transparent;
    --bs-accordion-btn-padding-x: 0;

  a {
    color: var(--col-pbh-dark);
    text-decoration: none;
    display: block;

    .accordion--more {
      position: relative;
      padding-right: 1.5em; // Reserve space for the arrow
      font-size: var(--fs-300);
      font-weight: var(--fw-700);
      text-transform: uppercase;
      text-align: right;

      &::after {
        content: '\f061';
        font-family: var(--ff-fa);
        font-size: 1rem;
        position: absolute;
        right: 0;
        top: 47%;
        transform: translateY(-50%) translateX(0);
        transition: transform 0.2s;
        display: inline-block;
        text-align: left;
      }
    }
    &:hover {
    .accordion--more::after {
        transform: translateY(-50%) translateX(0.5em);
      }
    }
  }

    .accordion-item {
      border-bottom: 1px solid var(--col-pbh-dark);
    }

    .accordion-button {
      font-size: var(--fs-800);
      font-weight: var(--fw-700);
      &[aria-expanded="true"]::after {
        
        animation: bounce-left-right 0.7s cubic-bezier(0.7,0,0.3,1) infinite;
      }
    }

    .accordion-body {
      padding-block-start: 0;
    }
  }

}

@keyframes bounce-left-right {
  0%   { transform: translateX(0) var(--bs-accordion-btn-icon-transform); }
  20%  { transform: translateX(-8px) var(--bs-accordion-btn-icon-transform); }
  40%  { transform: translateX(0) var(--bs-accordion-btn-icon-transform); }
  60%  { transform: translateX(6px) var(--bs-accordion-btn-icon-transform); }
  100% { transform: translateX(0) var(--bs-accordion-btn-icon-transform); }
}