.cb-work-list {
  padding-block: 2rem 10rem;
  h2 {
    font-size: 105px;
    font-family: var(--ff-title);
    font-weight: var(--fw-800);
    font-style: oblique;
    color: var(--col-pbh-dark);
    text-transform: uppercase;
    letter-spacing: -0.025em;
  }
  .work-item {
    height: 100%;

    &__link {
      display: grid;
      grid-template-rows: 2fr 1fr;
      height: 100%;
      padding: 0.75rem;
      background-color: var(--col-pbh-dark);
      text-decoration: none;
      overflow: hidden;
      transition: box-shadow var(--transition);

      .work-item__image-container {
        position: relative;
        width: 100%;
        aspect-ratio: 3 / 1;
        overflow: hidden;
      }
      .work-item__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .work-item__overlay {
        position: absolute;
        inset: 0;
        background-color: hsl(var(--hsl-dark) / 0.8);
        color: var(--col-white);
        opacity: 0;
        display: flex;
        align-items: end;
        justify-content: start;
        transition: opacity 0.3s;
        pointer-events: none;
        padding: 1rem;
      }
      .work-item__title {
        font-size: 1rem;
        margin-block-end: 0;
      }
      .work-item__logo-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
      }
      .work-item__logo {
        height: 50px;
        width: auto;
        transition: transform var(--transition);
        transform-origin: top left;
      }
      &:hover {
        .work-item__overlay {
          opacity: 1;
        }
        .work-item__logo {
          transform: scale(1.08);
        }
      }
    }
  }
}
