.cb-contact-cta {
  height: 100vh;
  min-height: 100vh;
  color: var(--col-pbh-green);
  background-size: cover;

  h2 {
    font-family: var(--ff-title);
    font-weight: var(--fw-800);
    font-style: oblique;
    font-size: 105px;
    text-transform: uppercase;
    line-height: 0.8;
    margin-bottom: 2rem;
  }
}
