.footer {
  background-color: var(--col-pbh-violet);
  color: var(--col-pbh-dark);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  a {
    color: var(--col-pbh-dark) !important;
    &:hover {
      color: var(--col-white) !important;
    }
  }
  .footer-social {
    a {
      display: grid;
      place-content: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.8rem;
      line-height: 1;
      border-radius: 0.75rem;
      background-color: var(--col-pbh-dark);
      color: var(--col-pbh-violet) !important;
      text-decoration: none;
      &:hover {
        color: var(--col-white) !important;
      }
    }
  }
}
