@font-face {
  font-family: "Futura PT Condensed";
  src: url("../fonts/Futura-PT-Cond-Extra-Bold-Oblique.woff2") format("woff2");
  font-weight: 800;
  font-style: oblique;
  // font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: "PPPangram Sans";
  src: url("../fonts/PPPangramSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPPangram Sans";
  src: url("../fonts/PPPangramSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  font-variant-ligatures: none;
}

html {
  font-size: 16px;
}

// ==== Body ====
body {
  font-family: var(--ff-body);
  font-size: fluid-size(16, 18);
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ==== Large Text ====
.fs-xl {
  font-size: var(--fs-xl, fluid-size(20, 28));
  font-weight: 500;
  line-height: 1.6;
}

// ==== Large Text ====
.fs-lg {
  font-size: fluid-size(24, 30);
  font-weight: 500;
  line-height: 1.6;
}

.text-lead {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-stretch: condensed;
  @media (min-width: 768px) {
    font-size: 2.25rem;
    line-height: 2.5;
  }
  @media (min-width: 1024px) {
    font-size: 3rem;
    line-height: 1;
  }
}

.text-headline-md {
  font-style: italic;
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.25;
  font-stretch: condensed;
  @media (min-width: 768px) {
    font-size: 2.25rem;
    line-height: 2.5;
  }
  @media (min-width: 1024px) {
    font-size: 3rem;
    line-height: 1;
  }
}

.text-headline-lg {
  font-style: italic;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5;
  // font-stretch: condensed;
  @media (min-width: 768px) {
    font-size: 3.75rem;
    line-height: 1;
  }
  @media (min-width: 1024px) {
    font-size: 4.5rem;
    line-height: 1;
  }
}

.text-headline-xl {
  font-style: italic;
  font-weight: 800;
  font-size: 3rem;
  line-height: 0.925;
  // font-stretch: condensed;
  @media (min-width: 768px) {
    font-size: 4.5rem;
  }
  @media (min-width: 1024px) {
    font-size: 6rem;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.1;
}

strong,
.fw-bold,
.fw-800 {
  font-weight: var(--fw-800);
}

.text-balance {
  text-wrap: balance;
}

.w-constrained--sm {
  max-width: 65ch;
}
.w-constrained--lg {
  max-width: 92ch;
}

// p:not([class]) {
//     max-width: 70ch;
// }

.ff-body {
  font-family: var(--ff-body);
}

.ff-heading {
  font-family: var(--ff-heading);
}

.ff-title {
  font-family: var(--ff-title);
}
